// colors
$milk-white: #faf8f4;
$soft-black: #3c3b3b;
$mint-green: #52be80;
$error-red: #fa4040;
$hover-submit-button: #299242;

body {
  background-color: $milk-white !important;
  font-family: 'Josefin Sans', sans-serif !important;

  padding-bottom: 50px; 

  & label, h1 {
    color: $soft-black !important;
  }
}

.alert {
  font-size: 1.2rem;
  margin-bottom: 1.2rem !important;
}

// navbar
#navbar {
  font-size: 1.5rem;
  line-height: 3.2rem;

  padding-top: 0.6rem;
  margin-bottom: 3rem;

  & a{
    color: $milk-white;
  }
}

.navbar-content-wrap {
  padding: 0 13vw !important;
}

#coll-navbar {
  & a {
    &:hover {
      text-decoration: underline;
    } 
  }
}

.dropdown-menu.show {
  font-size: 1.3rem;
  line-height: 1.2em;

  & a {
    color: $soft-black !important;
  }
}

.bg-light-green {
  background-color: $mint-green;
}


#logo {
  font-size: 2.5rem;
}

// form
.form {
  & label {
    font-size: 1.4rem;
  }
  & input {
    font-size: 1.2rem;
  }
  & small {
    font-size: 1rem
  }

  & .errors-list {
    margin-top: 10px;
    padding-left: 0;

    color: $error-red;
    list-style-type: none;
  }
}

.input-error {
  border-color: $error-red !important;

  &::placeholder {
    color: $error-red !important;
  }
}

.submit-button {
  background-color: $mint-green !important;
  border-color: $mint-green !important;

  &:hover {
    background-color: $hover-submit-button !important;
  }
}

