@import 'colors';

.account-card {
  border: 0.4rem solid $mint-green;
  border-radius: 30px;
  background-color: $milk-white;
  padding: 1rem 1rem; 

  & > div > ul {
    list-style-type: none;
    padding: 0 0;
    & li {
      font-size: 1.2rem;
      margin-bottom: 0.3rem;
    }
  }

  & .avatar {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0.3rem solid $mint-green;
    border-radius: 50px;
  }

  .follow-button {
    margin-bottom: 1rem;
  }

  .unfollow-button {
    margin-bottom: 1rem;
  }

  .bio {
    border: 0.2rem solid $mint-green;
    border-radius: 10px;
    padding: 0.1rem 0.5rem;
    & * {
      font-size: 1.2rem;
    }
  }
}

.user-wrap {
  border: 0.33rem solid $mint-green;
  border-radius: 30px;
  background-color: $milk-white;

  padding: 1.5rem 0.3rem;

  margin-bottom: 1.5rem; 

  & .avatar {
    border: 0.3rem solid $mint-green;
    border-radius: 50px;
    margin-bottom: 1rem;
  }

  & .col-7 {
    padding-top: 0.8rem;
  }

  & .submit-button {
    margin-top: 2rem;
    font-size: 1.2rem;
    padding: 0.3rem 2rem;
  }


  & .list-group {
    margin-top: 0.5rem;
  }
  & .list-group-item {
    background-color: #ddfce7;
    font-size: 1.2rem;
  }
}
